<div class="row">
    <div class="col-md-8" style="margin: auto; float: initial;">
        <div class="panel panel-default">
            <div class="panel-heading">Disciplinas e Estudantes</div>
            <fieldset [disabled]="!editavel">
                <form id="filtrosForm" class="form-horizontal">
                    <br>
                    <div class="form-group">
                        <label for="periodoLetivoFiltro" class="col-md-3 control-label">Período Letivo:</label>
                        <div class="col-md-8">
                            <table>
                                <colgroup>
                                    <col width="100%"/>
                                    <col width="269px">
                                </colgroup>
                                <tr>
                                    <td>
                                        <select class="form-control" id="periodoLetivoFiltro" name="periodo-letivo" [(ngModel)]="periodoLetivoSelecionadoId" (change)="selecionaPeriodoLetivo()" required>   
                                            <option hidden disabled selected value> -- Selecione -- </option> 
                                            <option *ngFor="let p of periodoLetivos" [value]="p.id">{{p.nome}}</option>       
                                        </select>
                                    </td>
                                    <td>
                                        <button style="margin-left: 10px; width: 170px;" type="button" class="btn btn-warning" data-toggle="modal" data-target="#dialogImportacao" (click)="preparaDialogImportacao()" [disabled]="!editavel">Importação de Dados</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="faculdadeFiltro" class="col-md-3 control-label">Faculdade:</label>
                        <div class="col-md-8">
                            <ng-container *ngIf="!periodoLetivoSelecionadoId">
                                <select class="form-control" id="faculdadeFiltro" name="faculdadeFiltro"  disabled >   
                                    <option hidden disabled selected value> -- </option>
                                </select>
                            </ng-container>
                            <ng-container *ngIf="periodoLetivoSelecionadoId && faculdades.length == 0">
                                <select class="form-control" id="faculdadeFiltro" name="faculdadeFiltro"  disabled >   
                                    <option hidden disabled selected value> -- Não há Faculdades para serem selecionadas -- </option>
                                </select>
                            </ng-container>
                            <ng-container *ngIf="periodoLetivoSelecionadoId && faculdades.length > 0">
                                <select class="form-control" id="faculdadeFiltro" name="faculdadeFiltro" [(ngModel)]="faculdadeSelecionadaId" (change)="selecionaFaculdade()" required>   
                                    <option hidden disabled selected value> -- Selecione -- </option>                
                                    <option *ngFor="let f of faculdades" [value]="f.id">{{f.sigla}}</option>
                                </select>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cursoFiltro" class="col-md-3 control-label">Curso:</label>
                        <div class="col-md-8">
                            <ng-container *ngIf="!faculdadeSelecionadaId">
                                <select class="form-control" id="cursoFiltro" name="curso"  disabled >   
                                    <option hidden disabled selected value> -- </option>
                                </select>
                            </ng-container>
                            <ng-container *ngIf="faculdadeSelecionadaId && faculdadeTemp.cursos.length == 0">
                                <select class="form-control" id="faculdadeFiltro" name="faculdadeFiltro"  disabled >   
                                    <option hidden disabled selected value> -- Não há Cursos para serem selecionados -- </option>
                                </select>
                            </ng-container>
                            <ng-container *ngIf="faculdadeSelecionadaId && faculdadeTemp.cursos.length > 0">
                                <select class="form-control" id="cursoFiltro" name="curso"  [disabled]="!editavel" [(ngModel)]="cursoSelecionadoId" (change)="selecionaCurso()" required>   
                                    <option hidden disabled selected value> -- Selecione -- </option>                    
                                    <option *ngFor="let c of faculdadeTemp.cursos" [value]="c.id">{{c.curso_key + " - " + c.nome}}</option>
                                </select>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="diciplinaFiltro" class="col-md-3 control-label">Disciplina:</label>
                        <div class="col-md-8">
                            <table>
                                <colgroup>
                                    <col width="100%"/>
                                    <col width="269px">
                                </colgroup>
                                <tr>
                                    <td>
                                        <ng-container *ngIf="!cursoSelecionadoId">
                                            <select class="form-control" id="diciplinaFiltro" name="disciplinaFiltro"  disabled >   
                                                <option hidden disabled selected value> -- </option>
                                            </select>
                                        </ng-container>
                                        <ng-container *ngIf="cursoSelecionadoId && plDisciplinasAcademicos.length == 0">
                                            <select class="form-control" id="diciplinaFiltro" name="diciplinaFiltro"  disabled >   
                                                <option hidden disabled selected value> -- Não há Disciplinas para serem selecionadas -- </option>
                                            </select>
                                        </ng-container>
                                        <ng-container *ngIf="cursoSelecionadoId && plDisciplinasAcademicos.length > 0">
                                            <select name="diciplinaFiltro" id="diciplinaFiltro" class="form-control" [(ngModel)]="disciplinaSelecionadaId" (change)="selecionaDisciplina()"  [disabled]="!editavel">
                                                <option hidden disabled selected value> -- Selecione -- </option>
                                                <option *ngFor="let d of plDisciplinasAcademicos" [value]="d.id">{{d.disciplina}}</option>
                                            </select>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <button style="margin-left: 10px; width: 170px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogDisciplina" (click)="preparaCriaAlteraDisciplina()" [disabled]="!editavel || !cursoSelecionadoId">{{disciplinaSelecionadaId ? 'Editar Disciplina' : 'Nova Disciplina'}}</button>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                    <div class="form-group" *ngIf="disciplinaSelecionadaId">
                        <label class="col-md-3 control-label">Estudantes:</label>
                    </div>
                    <ng-container *ngIf="disciplinaSelecionadaId">
                        <div>
                            <table class="table">
                                <colgroup>
                                    <col width="33%"/>
                                    <col width="33%"/>
                                    <col width="34%"/>
                                    <col width="36px"/>
                                    <col width="17px"/>
                                </colgroup>
                                <thead class="thead-light">
                                    <tr>
                                        <th>USER</th>
                                        <th>EMAIL</th>
                                        <th>NOME</th>
                                        <th>
                                            <button style="text-align: center;" title="Limpar Todos" type="button" class="btn btn-danger botao-reduzido" (click)="limparEstudantes()"  [disabled]="!editavel || estudantes.length == 0">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div [redimensionar]="520" style="overflow-y: scroll; min-height: 120px;">
                                <table class="table">
                                    <colgroup>
                                        <col width="33%"/>
                                        <col width="33%"/>
                                        <col width="34%"/>
                                        <col width="36px"/>
                                    </colgroup>
                                    <tbody>
                                        <tr *ngIf="estudantes.length == 0"><td colspan="4" style="color: gray; text-align: center;"><i>Não há Estudantes para Serem Listados</i></td></tr>
                                        <tr *ngFor="let e of estudantes">
                                            <td class="celula-trunca-texto" title="{{e.username}}">{{e.username}}</td>
                                            <td class="celula-trunca-texto" title="{{e.email}}">{{e.email}}</td>
                                            <td class="celula-trunca-texto" title="{{e.fullname}}">{{e.fullname}}</td>
                                            <td>
                                                <button style="text-align: center;" title="Remover" type="button" class="btn btn-danger botao-reduzido" (click)="removerEstudante(e)"  [disabled]="!editavel">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <button  title="Adicionar Estudante" style="width: 170px;" type="button" data-toggle="modal" data-target="#dialogEstudante" class="btn btn-primary" [disabled]="!editavel">Adicionar Estudante</button>
                            </div>
                        </div>
                    </ng-container>
                </form>
            </fieldset>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogEstudante" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="dialogEstudanteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Estudante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 350px;">
                <label class="style1">Usuário</label><br>
                <input class="form-control" type="text" name="username" placeholder="11122233344" [(ngModel)]="estudanteTemp.username"><p></p>

                <label class="style1">E-mail: *</label><br>
                <input class="form-control" type="email" name="email" placeholder="user@email.com" [(ngModel)]="estudanteTemp.email"><p></p>

                <label class="style1">Nome Completo: *</label><br>
                <input class="form-control" type="text" name="fullname" placeholder="Fulano da Silva" [(ngModel)]="estudanteTemp.fullname"><p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary botao-barra" (click)="adicionarEstudante()">Adicionar</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogImportacao" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="dialogImportacaoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importação de Dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 350px;">
                <div class="alert alert-info" [ngClass]="{'alert-info': !erroAviso, 'alert-danger': erroAviso}" *ngIf="aviso">
                    <strong *ngIf="!erroAviso">Informação!</strong><strong *ngIf="erroAviso">Falha!</strong> {{aviso}}
                </div>
                <label for="periodoLetivoFiltroSel" class="control-label">Período Letivo: *</label>
                <select class="form-control" id="periodoLetivoFiltroSel" name="periodo-letivo" [(ngModel)]="periodoLetivoSelecionadoId" (change)="selecionaPeriodoLetivo()" required>   
                    <option hidden disabled selected value> -- Selecione -- </option> 
                    <option *ngFor="let p of periodoLetivos" [value]="p.id">{{p.nome}}</option>       
                </select>
                <br>
                <label for="tipoImportFiltroSel" class="control-label">Modo de Imortação: *</label>
                <select id="tipoImportFiltroSel" name="tipoImportFiltroSel" class="form-control" [(ngModel)]="tipoImportFiltro">
                    <option hidden disabled selected value> -- Selecione -- </option> 
                    <option *ngFor="let t of TIPOS_IMPORT_FILTRO" [value]="t.key">{{t.nome}}</option>  
                </select>
                <br>
                <ng-container *ngIf="tipoImportFiltro == 'CURSOS_SIGECAD'">
                    <button type="button" class="btn btn-primary form-control" (click)="importarCursosSigecad()">Importar Cursos do SIGECAD</button>
                </ng-container>
                <ng-container *ngIf="tipoImportFiltro == 'DISCIPLINAS_SIGECAD'">
                    <button type="button" class="btn btn-primary form-control" (click)="importarDisciplinasSigecad()" >Importar Disciplinas do SIGECAD</button>
                </ng-container>
                <ng-container *ngIf="tipoImportFiltro == 'UPLOAD'">
                    <label class="style1">Upload de Arquivo:</label> 
                    <button data-toggle="modal" data-target="#dialogAjudaUpload" class="btn btn-info botao-tooltip"><span class="glyphicon glyphicon-info-sign"></span></button>
                    <p-fileUpload #uploador name="uploadEstudantes" styleClass="ui-fileupload-override" chooseLabel="Adicionar" cancelLabel="Cancelar"
                        (onSelect)="onSelectFile()" (onRemove)="onCancelFile()" (onClear)="onCancelFile()"  [showUploadButton]="false"
                        customUpload="true" [disabled]="!editavel || !periodoLetivoSelecionadoId"></p-fileUpload>
                </ng-container>
                
            </div>
            <div class="modal-footer">
                <button *ngIf="tipoImportFiltro == 'UPLOAD'" type="button" class="btn btn-primary botao-barra" (click)="uploadArquivoEstudantes()" [disabled]="!editavel || !periodoLetivoSelecionadoId || !fileTemp">Executar</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialogDisciplina" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="dialogDisciplinaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Disciplina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 350px;">
                <label class="style1">Nome da Disciplina: *</label><br>
                <input class="form-control" type="text" name="disciplina" placeholder="Ex.: Algoritmos" [(ngModel)]="nomeDisciplinaTemp"><p></p>
                <label class="style1">Disciplina ID:</label><br>
                <input class="form-control" type="number" name="disciplina_id" placeholder="12345678" [(ngModel)]="disciplinaKeyTemp">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success botao-barra" (click)="adicionarAlterarDisciplina()" [disabled]="!editavel">{{disciplinaSelecionadaId ? 'Alterar' : 'Criar'}}</button>
                <button type="button" class="btn btn-danger botao-barra" (click)="removerDisciplina()" [disabled]="!editavel || !disciplinaSelecionadaId">Excluir</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogAjudaUpload" tabindex="-1" role="dialog" aria-labelledby="dialogAjudaUploadTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 600px;">
                Importa um arquivo CSV que contêm dados sobre faculdades, seus cursos, suas disciplinas e seus estudantes; o formato do arquivo deve seguir o seguinte padrão:<br>
                <div style="overflow: auto;">
                    <pre style="font-size: 12px; width: max-content;">
"sigla_faculdade","nome_faculdade","nome_curso","nome_estudante","nome_disciplina","codigo_faculdade","codigo_disciplina","username","email"
FAC,FACULDADE TAL,BACHARELADO EM ALGUMA COISA,FULANO DA SILVA,DISCIPLINA TAL,"1111","12345678","12345678909",fulano_silva@email.com
...</pre>
                </div>
                
                * Não requer necessariamente ter os mesmos nomes, mas a ordem deve ser obedecida
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>