version: "3.8"

services:
    host-laravel:
        build: .
        working_dir: /var/www
        volumes:
            - ./:/var/www
        environment:
            APP_ENV: local
            APP_DEBUG: true
            APP_URL: http://localhost:8080/
            DB_TYPE: mysql
            DB_HOST: host-mysql
            DB_PORT: 3306
            DB_USER: 
            DB_PASSWORD: 
            DB_NAME: 
            MAIL_HOST: 
            MAIL_USERNAME: 
            MAIL_PASSWORD: 
            MAIL_FROM_ADDRESS: 
            MAIL_FROM_NAME: 
            LDAP_HOSTS: 
            LDAP_PORT: 
            LDAP_USE_SSL: 
            LDAP_USE_TLS: 
            LDAP_BASE_DN: 
            LDAP_USERNAME: 
            LDAP_PASSWORD:
            DB_ACAD_HOSTNAME: 
            DB_ACAD_PORT: 
            DB_ACAD_USERNAME: 
            DB_ACAD_PASSWORD: 
            DB_ACAD_DBNAME: 
            CHAVE_WEBSERVICE_MOODLE: 
            CONTRACHAVE_WEBSERVICE_SUPORTE: 
        networks:
            minha-rede:
                ipv4_address: 172.18.0.6

    host-angular:
        image: node:12.21
        working_dir: /app
        command: sh -c "npm install && npm install -g @angular/cli@7.2.4 && su -c 'ng build --output-path=/build/angular --watch' node"
        volumes:
            - ./resources/assets/front:/app
            - ./public/js:/build

    web-service:
        depends_on:
            - host-laravel
        ports:
            - "8080:80"
        image: nginx:latest
        volumes:
            - ".:/var/www"
            - "./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf"
        links:
            - host-laravel
        restart: always
        networks:
            minha-rede:
                ipv4_address: 172.18.0.7

    host-mysql:
        image: mysql:5.7
        ports:
            - 3306:3306
        volumes:
            - volume-mysql:/var/lib/mysql
            - ../volume-mysql:/var/lib/mysql
        environment: 
            MYSQL_ROOT_PASSWORD: 
            MYSQL_DATABASE:
        networks:
            minha-rede:
                ipv4_address: 172.18.0.8

networks:
    minha-rede:
        external: true  

volumes:
    volume-mysql:
