<div class="row">
    <div class="col-md-14">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de Solicitações de Criação de Salas
            </div>
            <div>
                <table class="table" style="margin-bottom: 0px">
                    <caption>
                        <table>
                            <tr>
                                <td class="col-md-1"><label for="filtro" class="col-md-1 control-label">Buscar:</label></td>
                                <td class="col-md-8"><input id="filtro" type="text" class="form-control" name="filtro" [(ngModel)]="criteria" required autofocus></td>
                            </tr>
                        </table>
                    </caption>
                    <colgroup>
                        <col width="40px"/>
                        <col width="25%"/>
                        <col width="70px"/>
                        <col width="25%"/>
                        <col width="25%"/>
                        <col width="25%"/>
                        <col width="125px"/>
                        <col width="100px"/>
                        <col width="32px"/>
                        <col width="32px"/>
                        <col width="32px"/>
                        <col width="32px"/>
                        <col width="32px"/>
                        <col width="36px"/>
                        <col width="15px"/>
                    </colgroup>
                    <thead class="thead-light">
                        <tr>
                            <th style="text-align: center">ID</th>
                            <th class="celula-trunca-texto" title="PROFESSOR">PROFESSOR</th>
                            <th class="celula-trunca-texto" title="FACULDADE">FAC.</th>
                            <th class="celula-trunca-texto" title="CURSO">CURSO</th>
                            <th class="celula-trunca-texto" title="SALA">SALA</th>
                            <th class="celula-trunca-texto" title="OBSERVACAO">OBSERVACAO</th>
                            <th>DATA/HORA</th>
                            <th style="text-align: center">STATUS</th>
                            <th colspan="6" style="text-align: center">AÇÕES</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <cdk-virtual-scroll-viewport  redimensionar="256" itemSize="40" style="width: 100%;"> 
                <table class="table">
                    <colgroup>
                        <col width="40px"/>
                        <col width="25%"/>
                        <col width="70px"/>
                        <col width="25%"/>
                        <col width="25%"/>
                        <col width="25%"/>
                        <col width="125px"/>
                        <col width="110px"/>
                        <col width="32px"/>
                        <col width="32px"/>
                        <col width="32px"/>
                        <col width="32px"/>
                        <col width="32px"/>
                        <col width="36px"/>
                    </colgroup>
                    <tbody>  
                        <tr *cdkVirtualFor="let sala of (salas | filtroSalas:criteria)">
                            <td>{{sala.id | zeros:4}}</td>
                            <td class="celula-trunca-texto" title="{{sala.nome_professor}}">{{sala.nome_professor}}</td>
                            <td title="{{sala.curso?.faculdade?.sigla}}">{{sala.curso?.faculdade?.sigla}}</td>
                            <td class="celula-trunca-texto" title="{{sala.curso?.nome}}">{{sala.curso?.nome}}</td>
                            <td class="celula-trunca-texto" title="{{sala.nome_sala}}">{{sala.nome_sala}}</td>
                            <td class="celula-trunca-texto" title="{{sala.observacao}}">{{sala.observacao}}</td>
                            <td>{{sala.created_at | formatadorData:true}}</td>
                            <td class="celula-status {{sala.status.chave}}">{{sala.status.descricao}}</td>
                            <td >
                                <a title="Gerar Backup" style="text-align: center; margin-left: -2px;" type="button" class="btn btn-primary botao-reduzido" href="/exec/{{sala.id}}">
                                    <span class="glyphicon glyphicon-save"></span>
                                </a>
                            </td>
                            <td>
                                <button style="text-align: center; margin-left: -2px;" title="Exportar Para Moodle" type="button" class="btn btn-primary botao-reduzido"  data-toggle="modal" data-target="#dialogRestore" (click)="preparaRestauracaoAutomatica(sala)">
                                    <span class="glyphicon glyphicon-export"></span>
                                </button>
                            </td>
                            <td>
                                <button style="text-align: center; margin-left: -2px;" title="{{sala.status.chave == STATUS_INICIAL_PADRAO ? 'Editar' : 'Vizualizar'}}" type="button" class="btn btn-info botao-reduzido"  data-toggle="modal" data-target="#dialogSalas" (click)="editarVisualizar(sala, false)">
                                    <span class="glyphicon glyphicon-{{sala.status.chave == STATUS_INICIAL_PADRAO ? 'edit' : 'search'}}"></span>
                                </button>
                            </td>
                            <td>
                                <button style="text-align: center; margin-left: -2px;" title="Estudantes" type="button" class="btn btn-{{(sala.estudantes != null && sala.estudantes.length > 0 && sala.estudantes != '[]') ? 'info' : 'warning'}} botao-reduzido"  data-toggle="modal" data-target="#dialogMasterEstudantes" (click)="editarVisualizar(sala, true)">
                                    <span class="glyphicon glyphicon-user"></span>
                                </button>
                            </td>
                            <td>
                                <button style="text-align: center; margin-left: -2px;" title="Demanda Concluída" type="button" class="btn btn-success botao-reduzido" data-toggle="modal" data-target="#dialogStatus" (click)="preparaSetStatusSala(sala,true)" [disabled]="sala.status.chave != STATUS_INICIAL_PADRAO">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </td>
                            <td>
                                <button style="text-align: center; margin-left: -2px;" title="Rejeitar Demanda" type="button" class="btn btn-danger botao-reduzido" data-toggle="modal" data-target="#dialogStatus" (click)="preparaSetStatusSala(sala,false)"  [disabled]="sala.status.chave != STATUS_INICIAL_PADRAO">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="status-tabela">
                        <tr *ngIf="status == LOADING"><td colspan="14"><i>Carregando Salas...</i></td></tr>
                        <tr *ngIf="salas != null && (salas | filtroSalas:criteria).length == 0 && status == COMPLETE"><td colspan="14"><i>Não Há Salas para serem listadas</i></td></tr>
                        <tr *ngIf="status == ERROR"><td class="erro" colspan="14"><i>Falha na obtenção de Salas!</i></td></tr>
                    </tfoot>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>
    
<!-- Modal -->
<div class="modal fade" id="dialogSalas" tabindex="-1" role="dialog" aria-labelledby="dialogSalasTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sala #{{sala.id | zeros:4}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" redimensionar="285" style="overflow-y: scroll;">
                <fieldset>
                    <form id="salaForm" class="form-group" style="max-width: 500px;">
                        <div class="alert alert-info" [ngClass]="{'alert-info': !erroAviso, 'alert-danger': erroAviso}" *ngIf="aviso">
                            <strong *ngIf="!erroAviso  && sala.status.chave == STATUS_INICIAL_PADRAO">Informação!</strong><strong *ngIf="erroAviso && sala.status.chave == STATUS_INICIAL_PADRAO">Falha!</strong> {{aviso}}
                        </div>
                        <label class="style1">Nome completo: *</label><br>
                        <input *ngIf="usuarios.length == 0" class="form-control" type="text" name="nome_professor" placeholder="Nome completo" [(ngModel)]="sala.nome_professor" size="60" disabled>
                        <ng-container *ngIf="usuarios.length > 0">
                            <p-autoComplete class="prime-autocomplete" name="nome_professor" [suggestions]="filteredUsuarios" placeholder="Nome do Professor" (onSelect)="selecionaUsuario($event)"
                            (completeMethod)="buscaUsuario($event)" (onClear)="limpaUsuario($event)" size="60" [readonly]="!editavel" [(ngModel)]="nome_professor_temp" [required]="true" [forceSelection]="true"></p-autoComplete>
                            <br>
                        </ng-container><p></p>


                        <label class="style1">E-mail: *</label><br>
                        <input class="form-control" type="email" name="email" placeholder="Preferência institucional" [(ngModel)]="sala.email" size="60" [readonly]="!editavel"><p></p>
                         
                        <label class="style1">Período Letivo: *</label><br>
                        <select class="form-control" name="periodo_letivo"  [disabled]="!editavel" [(ngModel)]="sala.periodo_letivo_id" (change)="selecionaPeriodoLetivo()" required>   
                            <option hidden disabled selected value> -- Selecione -- </option>
                            <ng-container *ngFor="let pl of periodoLetivos">
                                <option *ngIf="pl.ativo || sala.periodo_letivo_id == pl.id" [value]="pl.id">{{pl.nome + (pl.descricao ? " (" + pl.descricao + ")" : "")}}</option>
                            </ng-container>  
                        </select><p></p>

                        <label class="style1">Faculdade: *</label><br>
                        <select class="form-control" name="faculdade"  [disabled]="!editavel" [(ngModel)]="faculdadeSelecionadaId" (change)="selecionaFaculdade()" required>   
                            <option hidden disabled selected value> -- Selecione -- </option>      
                            <ng-container *ngFor="let f of faculdades">
                                <option *ngIf="f.ativo || faculdadeSelecionadaId == f.id" [value]="f.id">{{f.sigla}}</option>
                            </ng-container>        
                        </select><p></p>
        
                        <label class="style1">Curso: *</label><br>
                        <ng-container *ngIf="!faculdadeSelecionadaId">
                            <select class="form-control" name="curso"  disabled >   
                                <option hidden disabled selected value> -- </option>
                            </select>
                        </ng-container>
                        <ng-container *ngIf="faculdadeSelecionadaId">
                            <select class="form-control" name="curso"  [disabled]="!editavel" [(ngModel)]="sala.curso"  (change)="selecionaCurso()" required>   
                                <option hidden disabled selected value> -- Selecione -- </option>    
                                <ng-container *ngFor="let c of faculdadeTemp.cursos">
                                    <option  *ngIf="c.ativo || sala.curso == c.id" [value]="c.id">{{c.nome}}</option>
                                </ng-container>
                            </select>
                        </ng-container><p></p>

                        <label class="style1">Nome da Disciplina: *</label><br>
                        <p-autoComplete class="prime-autocomplete" name="nome_sala" [suggestions]="filteredDisciplina" placeholder="Ex.: Algoritmos" (onSelect)="selecionaDisciplina($event)"
                        (completeMethod)="buscaDisciplina($event)" [readonly]="!editavel || sala.curso == ''" [(ngModel)]="sala.nome_sala" [required]="true"></p-autoComplete>
                        <br><p></p>

                        <label class="style1">Modalidade da Disciplina: *</label><br>
                        <select class="form-control" name="modalidade" [(ngModel)]="sala.modalidade" [disabled]="!editavel">                         
                            <option *ngFor="let m of modalidades" value="{{m.sigla}}">{{m.descricao}}</option>
                        </select><p></p>

                        <label class="style1">Objetivo da Disciplina: *</label><br>
                        <select class="form-control" name="objetivo_sala" [(ngModel)]="sala.objetivo_sala" [disabled]="!editavel">                         
                            <option *ngFor="let o of objetivosSalas" value="{{o.sigla}}">{{o.descricao}}</option>
                        </select><p></p>

                        <label class="style1">Chave de Inscrição para Estudantes acessarem a sala:</label><br>
                        <input class="form-control" type="text" name="senha_aluno" placeholder="" [(ngModel)]="sala.senha_aluno" size="60" [readonly]="!editavel"><p></p>

                        <label class="style1">Observações:</label><br>
                        <textarea class="form-control" name="observacao" placeholder="Ex:. Utilizem o conteúdo da sala do ano passado: Link da sala" [(ngModel)]="sala.observacao" [readonly]="!editavel"></textarea><p></p>
                        
                        <button *ngIf="!mostraMais" style="width: 100%;" type="button" (click)="mostraMais = true">˅ ˅ Mais ˅ ˅ </button>
                        <ng-container *ngIf="mostraMais">
                            <hr style="border-color: #ccc;">
                            <label>Turma: </label><br>
                            <label class="form-control form-control-read">{{sala.turma_nome}} {{sala.turma_id ? '(id: '+sala.turma_id+')' : ''}}</label><p></p>
                            <label>Carga Horária Disciplina: </label><br>
                            <label class="form-control form-control-read">{{sala.carga_horaria_total_disciplina}}</label><p></p>
                            <label>Tipo de Avaliação: </label><br>
                            <label class="form-control form-control-read">{{sala.avaliacao}}</label><p></p>
                            <label>Chave da Disciplina: </label><br>
                            <label class="form-control form-control-read">{{sala.disciplina_key}}</label><p></p>
                            <button type="button"(click)="mostraMais = false" style="width: 100%;">˄ ˄ Menos ˄ ˄ </button>
                        </ng-container>
                    </form>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary botao-barra" (click)="atualizarSala()" [disabled]="!editavel">Atualizar</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogMasterEstudantes" tabindex="-1" role="dialog" aria-labelledby="dialogMasterEstudantesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Estudantes na Sala #{{sala.id | zeros:4}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" redimensionar="285" style="overflow-y: scroll;">
                <fieldset>
                    <form id="salaFormEstudantes" class="form-group" style="max-width: 500px;">
                        <div class="alert alert-info" [ngClass]="{'alert-info': !erroAviso, 'alert-danger': erroAviso}" *ngIf="aviso">
                            <strong *ngIf="!erroAviso  && sala.status.chave == STATUS_INICIAL_PADRAO">Informação!</strong><strong *ngIf="erroAviso && sala.status.chave == STATUS_INICIAL_PADRAO">Falha!</strong> {{aviso}}
                        </div>
                        
                        <label class="style1"><span *ngIf="estudantes.length == 0">Carregar </span> Estudantes:</label> 
                        <button *ngIf="estudantes.length == 0" data-toggle="modal" data-target="#dialogAjudaEstudantes" 
                         class="btn btn-info botao-tooltip"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                        <table class="table">
                            <caption *ngIf="estudantes.length == 0">
                                <div  class="custom-file col-md-3">
                                    <input type="file" class="custom-file-input" id="customFile" (change)="lerAlunosCSV($event)"  [disabled]="!editavel">
                                    <label class="custom-file-label btn btn-primary" [ngClass]="{'disabled': !editavel}" for="customFile">Arquivo CSV</label>
                                </div>
                                <div class=" col-md-4">
                                    <button class="btn btn-primary" style="width: 125px; margin-left: 48px;"  data-toggle="modal" data-target="#dialogBuscaEstudantes" (click)=selecionaCurso(false)>Base de Dados</button>
                                </div>
                                <div class=" col-md-4" style="margin-left: 41px; padding-right: 0px;">
                                    <button class="btn btn-primary" style="width: 125px; float: right;"  data-toggle="modal" data-target="#dialogBuscaEstudantesSigecad" (click)=selecionaCurso(false)>SIGECAD</button>
                                </div>
                            </caption>
                            <colgroup>
                                <col width="33%"/>
                                <col width="33%"/>
                                <col width="34%"/>
                                <col width="36px"/>
                                <col width="17px"/>
                            </colgroup>
                            <thead class="thead-light">
                                <tr>
                                    <th>USER</th>
                                    <th>EMAIL</th>
                                    <th>NOME</th>
                                    <th>
                                        <button style="text-align: center;" title="Limpar Todos" type="button" class="btn btn-danger botao-reduzido" (click)="limparEstudantes()"  [disabled]="!editavel">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                        <div style="overflow-y: scroll; max-height: 160px;">
                            <table class="table">
                                <colgroup>
                                    <col width="33%"/>
                                    <col width="33%"/>
                                    <col width="34%"/>
                                    <col width="36px"/>
                                </colgroup>
                                <tbody>
                                    <tr *ngFor="let e of estudantes">
                                        <td class="celula-trunca-texto" title="{{e.username}}">{{e.username}}</td>
                                        <td class="celula-trunca-texto" title="{{e.email}}">{{e.email}}</td>
                                        <td class="celula-trunca-texto" title="{{e.fullname}}">{{e.fullname}}</td>
                                        <td>
                                            <button style="text-align: center;" title="Remover" type="button" class="btn btn-danger botao-reduzido" (click)="removerEstudante(e)"  [disabled]="!editavel">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="text-align: center;">
                                            <button style="text-align: center;" title="Adicionar" type="button" data-toggle="modal" data-target="#dialogEstudante" class="btn btn-primary botao-reduzido" [disabled]="!editavel">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary botao-barra" (click)="atualizarSala()" [disabled]="!editavel">Atualizar</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogEstudante" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="dialogEstudanteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Estudante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 350px;">
                <label class="style1">Usuário</label><br>
                <input class="form-control" type="text" name="username" placeholder="11122233344" [(ngModel)]="estudanteTemp.username" size="60"><p></p>

                <label class="style1">E-mail: *</label><br>
                <input class="form-control" type="email" name="email" placeholder="user@email.com" [(ngModel)]="estudanteTemp.email" size="60"><p></p>

                <label class="style1">Nome Completo: *</label><br>
                <input class="form-control" type="text" name="fullname" placeholder="Fulano da Silva" [(ngModel)]="estudanteTemp.fullname" size="60"><p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary botao-barra" (click)="adicionarEstudante()">Adicionar</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogRestore" tabindex="-1" role="dialog" aria-labelledby="dialogRestoreTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Restauração de Backup Automática</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 600px;">
                <div class="alert alert-info" [ngClass]="{'alert-info': !erroAviso, 'alert-danger': erroAviso}" *ngIf="aviso">
                    <strong *ngIf="!erroAviso  && sala.status.chave == STATUS_INICIAL_PADRAO">Informação!</strong><strong *ngIf="erroAviso && sala.status.chave == STATUS_INICIAL_PADRAO">Falha!</strong> {{aviso}}
                </div>
                <label class="style1">Course ID Moodle (ID da Sala):</label>
                <input class="form-control" style="width: 80px; display: initial; margin-left: 10px;" type="number" name="courseid" placeholder="courseid" [(ngModel)]="sala.sala_moodle_id" size="10"><p></p>
                <label class="style1">Macro:</label>
                <select class="form-control" name="macro-padrao" style="width: 200px; display: initial; margin-left: 10px;" [(ngModel)]="sala.macro_id" [disabled]="!editavel" required>   
                    <option hidden disabled [value]="0" selected> -- Selecione -- </option>  
                    <option *ngFor="let m of macros" [value]="m.id">{{m.nome}}</option>       
                </select><br>
                <hr style="border-color: #ccc;">
                <div redimensionar="300" style="max-height: 250px;" id="saidaRestore"></div>
            </div>
            <div class="modal-footer">
                <button *ngIf="sala.sala_moodle_id" type="button" class="btn btn-primary" style="width: 170px; float: left;" (click)="exportarEstudantesMoodle(sala)" [disabled]="!editavel || blockAutoRestore">Exportar Estudantes</button>
                <span *ngIf="!sala.sala_moodle_id" style="float: left;">
                    <label class="style1">Importar de:</label>
                    <input class="form-control" style="width: 80px; display: initial; margin: 0px 3px;" type="number" name="course-import-id" placeholder="import id" [(ngModel)]="courseImportId" size="10">
                    <button type="button" class="btn btn-primary" style="width: 170px;vertical-align: top;" (click)="executarRestauracaoAutomatica()" [disabled]="!editavel || blockAutoRestore">Executar Restauração</button>
                </span>
                <button type="button" class="btn btn-primary botao-barra" style="vertical-align: top;" (click)="atualizarSala()" [disabled]="!editavel">Atualizar</button>
                <button type="button" class="btn btn-secondary botao-barra" style="vertical-align: top;" data-dismiss="modal" [disabled]="!editavel">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogStatus" tabindex="-1" role="dialog" aria-labelledby="dialogStatusTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Atualizar Status: {{statusTemp}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 350px;">
                <label class="style1">{{tituloMensagem}}</label><br>
                <textarea class="form-control" [(ngModel)]="mensagem" [readonly]="!editavel"></textarea><p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary botao-barra" (click)="statusSala()" [disabled]="!editavel">Ok</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogBuscaEstudantes" tabindex="-1" role="dialog" aria-labelledby="dialogBuscaEstudantesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Buscar Estudantes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 400px;">
                <label for="diciplinaFiltro" class="control-label">Selecione uma Disciplina para Importar Estudantes:</label>
                <ng-container *ngIf="!sala.curso">
                    <select class="form-control" id="diciplinaFiltro" style="font-style: italic;" name="disciplinaFiltro"  disabled >   
                        <option hidden disabled selected value> &lt;&lt; Selecione um Curso Primeiro... &gt;&gt; </option>
                    </select>
                </ng-container>
                <ng-container *ngIf="sala.curso && plDisciplinasAcademicosList.length == 0">
                    <select class="form-control" id="diciplinaFiltro" name="diciplinaFiltro"  disabled >   
                        <option hidden disabled selected value> -- Não há Disciplinas para serem selecionadas -- </option>
                    </select>
                </ng-container>
                <ng-container *ngIf="sala.curso && plDisciplinasAcademicosList.length > 0">
                    <select name="diciplinaFiltro" id="diciplinaFiltro" class="form-control" [(ngModel)]="disciplinaSelecionadaId" [disabled]="!editavel">
                        <option hidden disabled selected value> -- Selecione -- </option>
                        <option *ngFor="let d of plDisciplinasAcademicosList" [value]="d.disciplina">{{d.disciplina}}</option>
                    </select>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary botao-barra" (click)="carregarEstudantes()" [disabled]="!editavel || !disciplinaSelecionadaId">Ok</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialogBuscaEstudantesSigecad" tabindex="-1" role="dialog" aria-labelledby="dialogBuscaEstudantesSigecadTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Buscar Estudantes no SIGECAD</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 400px;">
                <label for="diciplinaFiltroSigecad" class="control-label">Selecione uma Disciplina para Importar Estudantes:</label>
                <ng-container *ngIf="!sala.curso">
                    <select class="form-control" id="diciplinaFiltroSigecad" style="font-style: italic;" name="disciplinaFiltroSigecad"  disabled >   
                        <option hidden disabled selected value> &lt;&lt; Selecione um Curso Primeiro... &gt;&gt; </option>
                    </select>
                </ng-container>
                <ng-container *ngIf="sala.curso && plDisciplinasAcademicosList.length == 0">
                    <select class="form-control" id="diciplinaFiltroSigecad" name="diciplinaFiltroSigecad"  disabled >   
                        <option hidden disabled selected value> -- Não há Disciplinas para serem selecionadas -- </option>
                    </select>
                </ng-container>
                <ng-container *ngIf="sala.curso && plDisciplinasAcademicosList.length > 0">
                    <select name="diciplinaFiltroSigecad" id="diciplinaFiltroSigecad" class="form-control" [(ngModel)]="disciplinaSelecionadaId" [disabled]="!editavel">
                        <option hidden disabled selected value> -- Selecione -- </option>
                        <option *ngFor="let d of plDisciplinasAcademicosList" [value]="d.disciplina">{{d.disciplina}}</option>
                    </select>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary botao-barra" (click)="carregarEstudantesSigecad()" [disabled]="!editavel || !disciplinaSelecionadaId">Ok</button>
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogAjudaEstudantes" tabindex="-1" role="dialog" aria-labelledby="dialogAjudaEstudantesTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 600px;">
                <b>Selecionar um Arquivo CSV: </b><br>
                importa um arquivo CSV que contêm os estudantes desta disciplina; o formato do arquivo deve seguir o seguinte padrão:<br>
                <pre style="font-size: 12px;">
username,email,fullname
11122233344,fulano.silva111@academico.ufgd.edu.br,Fulano da Silva
BeltranoOliveira,BeltranoOliveira@ufgd.edu.br,Beltrano dos Santos Oliveira</pre>
                <br>
                <b>Carregar da Base de Dados: </b><br>
                Importa os estudantes para esta sala de alguma disciplina que há cadastrada no banco de dados<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary botao-barra" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>